<?xml version="1.0" encoding="UTF-8" ?>

<phpunit colors="true"
		bootstrap="phpunit-bootstrap.php">
   
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
 
 <filter>
 <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">/var/www/html/skeleton/src/</directory>
 </whitelist>

</filter>   

<logging>
    <log type="coverage-html" target="./log/codeCoverage" charset="UTF-8" /> 
        <log type="testdox-html" target="./log/testdox.html" />
</logging>


</phpunit>
